:root {
  --ff--words: 'Open Sans', sans-serif;
  --ff--heading: 'Oswald', sans-serif;
  --bg--main: #ffffff;
  --bg--sub: #64a15f;
  --bg--red:#ffcccb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  /* background-color: red; */
  font-family: var(--ff--words);
}

h5{
  font-family: var(--ff--words);
  color: #000;
}
input {
  border-radius: 0 !important;
}
.App header{ 
    background-color: #fff;
    padding: 1em 2em;
}
.App .no-tasks{
    font-family: var(--ff--heading);
    font-size: 3rem;
}

.App {
  background-color: var(--bg--main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.App .home-container{
  padding-top: 1em;
}

.App .note-container{
  background-color:#fbe2c2;
  padding: 0 3em 0 0em;
}
.App .note-container .sec-1{
  background-color:#c7e5bd;
  display: flex;
  justify-content: flex-start;
  padding-left: 2em;
  width: 25%;
  padding-top: 3em;
  align-content: flex-start;

}
.App .note-container .sec-1  button{
  font-family: var(--ff--heading) !important;
  font-size: 2rem;
  align-self: start;


}

.App .btn {
  border-radius: 0;
  background-color: var(--bg--sub);
  border: none;
  transition: all 300ms ease-in;
}

.App .btn:hover {
  background-color: #fff;
  color: var(--bg--sub);
  outline: 1px solid var(--bg--sub);
}

#root h1 {
  font-family: var(--ff--heading);
  font-weight: bold;
  font-size: 3.5rem;
  text-align: start;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}

/* login css */
.login-container,
.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.login-full,.sign-up-full{
  background-color: #f5f5f5;
}
.login-container form,
.sign-up-container form {
  width: min(100%, 500px);
}

.login-container h3,
.sign-up-container h3 {
  font-size: 2rem;
  font-family: var(--ff--heading);
  font-weight: 600;
}

.alert {
  border-radius: 0 !important;
  border-left: 3px solid #6e4117 !important;
  margin-top: 0.8em;
}

/* slider css */
.slider-full {
  padding: 0 !important;
  margin: 0 !important;
}

.carousel-indicators {
  visibility: hidden !important;
}

.carousel-item {
  height: 350px;
}

.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.App .carousel-caption {
  bottom: 7rem !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  left: 506px !important;
}

.carousel-caption h2 {
  color: #000;
  font-size: 3rem;
  font-family: var(--ff--heading);
  font-weight: 600;
  text-align: start;
  line-height: 1.4;
  margin-bottom: 0.4em;
}

.carousel-caption button {
  padding: 0.5em 2em;
  text-transform: uppercase;
  font-family: var(--ff--words);
  font-weight: 600;
}

/* 404 error */
.App .error {
  gap: 1em;
}

.App .error h3 {
  font-size: 5rem;
  font-family: var(--ff--heading);
  font-weight: 600;
  text-transform: uppercase;
}

.App .error p {
  font-size: 1.5rem;
  font-family: var(--ff--words);
}

.App .error a {
  color: #fff;
}

/* note css */
.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: flex-end;
  margin-bottom: 1em;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}
.note-list #zero{
  border: 5px solid var(--bg--red);
}
.note-list .note.incomplete-note {
  border: 5px solid #e2f1ff !important;
  color: #000;
}

.note-list .note.incomplete-note input {
  border-color: rgb(234, 182, 118) !important;
}

.note h4 {
  font-size: 1rem;
  font-weight: 600;
}

.note-list .note {

  width: 100%;
  max-width: 300px;
  border:5px solid #e4f9e0;
  background-color: #fff;
  padding: 1em;
  color: #444;
  border-radius: 0.1em;
  position: relative;

}
.App .note-list .note.completed-note button:disabled{
  color: #000 !important;
  /* background-color: red; */
}
.note-list .completed-note svg{
  color: #000;
}

.note-list .note ol {
  padding-left: 1.5em;
  background-color: #f5f5f5;
}
.note-list h2{
  font-family: var(--ff--heading);
  font-weight: 600;
  font-size: 2rem;
}
.note-list li {
  color: #000;
}

.note-list .note input[type=text]:disabled {
  border-radius: 0.2em;
}
.keys{
  align-content: flex-start;
  padding-top: 2em;
}
.keys h4{
  font-size: 0.8rem;
  font-family: var(--ff--words);
  position: relative;
  padding-left: 2em;
}
.keys h4::before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0;
  width: 15px;
  height: 15px;

  border: 1px solid #000

}
.keys .red::before{
  background-color: var(--bg--red);
}
.keys .blue::before{
  background-color: #e2f1ff;
}
.keys .green::before {
  background-color: #c7e5bd;
}

.note-list .note input[type=number] {
  background-color: var(--bg--main);
}

.note-list h3 {
  font-family: var(--ff--heading);
  font-size: 1.2rem;
  color: #000;
}

.form-control:disabled {
  background-color: #fff !important;

  border: 0 !important;
  border-bottom: 2px solid #6e4117 !important;
  color: #6e4117;
  /* border-radius: 0.2em !important; */
}

/*  custom buttons */
.App .logout-btn {
  position: absolute !important;
  right: 45px;
  top: 45px;

}

.App .add-btn {
  background-color: transparent;
  /* border-radius: 50px; */
  font-weight: 600;
}

.App .delete-btn {
  position: absolute;
  right: 10px;
  top: 18px;
  cursor: pointer;
  
}
.App .add-btn:hover {
  background-color: transparent;
  border: 0;
  outline: none;
}

.App .file {
  color: var(--bg--sub);
}

.App .note-list .note .btn.disabled,
.App .note-list .note .btn:disabled {
  background-color: transparent;
  color: #fff !important;
  opacity: 1 !important;
}

/* Model css  */
.addModel .modal-content {
  border-radius: 0 !important;
  background-color: var(--bg--main);
}

.addModel button {
  white-space: nowrap;
  border-radius: 0 !important;
  background-color: var(--bg--sub);
  font-family: var(--ff--words);
  border: 0;
}

.addModel button:hover {
  background-color: #fff;
  color: var(--bg--sub);
  outline: 1px solid #6e4117;
}

.addModel .btn:disabled {
  background-color: #6e4117;

}

.addModel .modal-title {
  font-family: var(--ff--heading);
  font-size: 2rem;
  font-weight: 600;
}

/* Loader css  */

.images-preloader {
  position: static !important;
  z-index: 100001;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-self: center;
}

#preloader_1 {
  position: relative;

}

.rectangle-bounce {
  text-align: center;
  position: relative;
  left: -30px;
  top: 00px;
  margin-left: 0;
  margin-top: 0px;
  /* overflow: hidden; */
}

#preloader_1 span {
  display: block;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: rgb(255, 255, 255);
  position: absolute;
  animation: preloader_1 1.5s infinite ease-in-out;
  -moz-animation: preloader_1 1.5s infinite ease-in-out;
  -webkit-animation: preloader_1 1.5s infinite ease-in-out;
  -o-animation: preloader_1 1.5s infinite ease-in-out;
  -ms-animation: preloader_1 1.5s infinite ease-in-out;
}

#preloader_1 span:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
}

#preloader_1 span:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
}

#preloader_1 span:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
}

#preloader_1 span:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
}

@keyframes preloader_1 {
  0% {
    height: 5px;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    background: #6e4117;
  }

  25% {
    height: 30px;
    transform: translateY(15px);
    -moz-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -o-transform: translateY(15px);
    -ms-transform: translateY(15px);
    background: #6e4117;
  }

  50% {
    height: 5px;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    background: #6e4117;
  }

  100% {
    height: 5px;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    background: #6e4117;
  }
}

/* FOOTER css */
footer {
  margin-top: auto;
  background-color:#fff;
  color: #000;
  padding: 20px 20px;
  text-align: center;
  font-family: var(--ff--heading);
}

footer p {
  margin: 0;
  font-weight: 800;
  font-size: 1.5rem;
}

@media (min-width: 768px) and (max-width: 991px) {

  .App .home-container .sec-1 {
    width: 40% !important;


  }

}

@media (max-width:767px) {
  #root h1{
    font-size: 2.5rem;
  }
  .note-list h2{
    font-size: 1.2rem;
  }
  .note-list {
    justify-content: center;
  }

  .App .home-container {
    flex-direction: column !important;
    align-items: center;
  }
  .App .home-container .sec-1 {
    width: 100% !important;
    padding: 0;
    flex-direction: column;
    align-items: center !important;
    flex-wrap: nowrap !important;
  }
  .App .note-container .sec-1 button{
    align-self: center;
  }
  .App .note-container{
    padding-right: 0;
  }

  .App .add-note {
    align-self: center;
  }

  .App .logout-btn {
    right: 9px;
    top: 38px;
  }
}