:root {
  --ff--words: 'Open Sans', sans-serif;
  --ff--heading: 'Oswald', sans-serif;
  --bg--main: #ffffff;
  --bg--sub: rgb(135, 62, 35);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  /* background-color: red; */
  font-family: var(--ff--words);
}

input {
  border-radius: 0 !important;
}
.App header{ 
    background-color: #ffcce5;
}

.App {
  background-color: var(--bg--main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.App .home-container{
  padding-top: 1em;
}

.App .note-container{
  background-color: #fff7d1;
  padding-bottom: 3em;
  padding-top: 2em;
}

.App .btn {
  border-radius: 0;
  background-color: var(--bg--sub);
  border: none;
  transition: all 300ms ease-in;
}

.App .btn:hover {
  background-color: #fff;
  color: var(--bg--sub);
  outline: 1px solid var(--bg--sub);
}

#root h1 {
  font-family: var(--ff--heading);
  font-weight: bold;
  font-size: 3.5rem;
  text-align: start;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}

/* login css */
.login-container,
.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.login-full,.sign-up-full{
  background-color: #fff7d1;
}
.login-container form,
.sign-up-container form {
  width: min(100%, 500px);
}

.login-container h3,
.sign-up-container h3 {
  font-size: 2rem;
  font-family: var(--ff--heading);
  font-weight: 600;
}

.alert {
  border-radius: 0 !important;
  border-left: 3px solid #6e4117 !important;
  margin-top: 0.8em;
}

/* slider css */
.slider-full {
  padding: 0 !important;
  margin: 0 !important;
}

.carousel-indicators {
  visibility: hidden !important;
}

.carousel-item {
  height: 350px;
}

.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

.App .carousel-caption {
  bottom: 7rem !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  left: 506px !important;
}

.carousel-caption h2 {
  color: #000;
  font-size: 3rem;
  font-family: var(--ff--heading);
  font-weight: 600;
  text-align: start;
  line-height: 1.4;
  margin-bottom: 0.4em;
}

.carousel-caption button {
  padding: 0.5em 2em;
  text-transform: uppercase;
  font-family: var(--ff--words);
  font-weight: 600;
}

/* 404 error */
.App .error {
  gap: 1em;
}

.App .error h3 {
  font-size: 5rem;
  font-family: var(--ff--heading);
  font-weight: 600;
  text-transform: uppercase;
}

.App .error p {
  font-size: 1.5rem;
  font-family: var(--ff--words);
}

.App .error a {
  color: #fff;
}

/* note css */
.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: flex-end;
  margin-bottom: 1em;
  width: 100%;
}

.note-list .note.incomplete-note {
  background:#e2f1ff !important;
  color: #000;
}

.note-list .note.incomplete-note input {
  border-color: rgb(234, 182, 118) !important;
}

.note h4 {
  font-size: 1rem;
  font-weight: 600;
}

.note-list .note {

  width: 100%;
  max-width: 375px;
  background-color:#e4f9e0;
  padding: 1em;
  color: #000;
  border-radius: 0.2em;
  position: relative;
  outline: 2px solid var(--bg--sub);
}
.App .note-list .note.completed-note button:disabled{
  color: #000 !important;
  /* background-color: red; */
}
.note-list .completed-note svg{
  color: #000;
}

.note-list .note ol {
  padding-left: 1.5em;
  background-color: var(--bg--main) !important;
}

.note-list li {
  color: #000;
}

.note-list .note input[type=text]:disabled {
  border-radius: 0.2em;
}

.note-list .note input[type=number] {
  background-color: var(--bg--main);
}

.note-list h3 {
  font-family: var(--ff--heading);
}

.form-control:disabled {
  background-color: #fff !important;

  border: 0 !important;
  border-bottom: 2px solid #6e4117 !important;
  color: #6e4117;
  /* border-radius: 0.2em !important; */
}

/*  custom buttons */
.App .logout-btn {
  position: absolute !important;
  right: 45px;
  top: 45px;

}

.App .add-btn {
  background-color: transparent;
  /* border-radius: 50px; */
  font-weight: 600;
}

.App .delete-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  
}
.App .add-btn:hover {
  background-color: transparent;
  border: 0;
  outline: none;
}

.App .file {
  color: var(--bg--sub);
}

.App .note-list .note .btn.disabled,
.App .note-list .note .btn:disabled {
  background-color: transparent;
  color: #fff !important;
  opacity: 1 !important;
}

/* Model css  */
.addModel .modal-content {
  border-radius: 0 !important;
  background-color: var(--bg--main);
}

.addModel button {
  white-space: nowrap;
  border-radius: 0 !important;
  background-color: var(--bg--sub);
  font-family: var(--ff--words);
  border: 0;
}

.addModel button:hover {
  background-color: #fff;
  color: var(--bg--sub);
  outline: 1px solid #6e4117;
}

.addModel .btn:disabled {
  background-color: #6e4117;

}

.addModel .modal-title {
  font-family: var(--ff--heading);
  font-size: 2rem;
  font-weight: 600;
}

/* Loader css  */

.images-preloader {
  position: static !important;
  z-index: 100001;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-self: center;
}

#preloader_1 {
  position: relative;

}

.rectangle-bounce {
  text-align: center;
  position: relative;
  left: -30px;
  top: 100px;
  margin-left: 0;
  margin-top: 0px;
  /* overflow: hidden; */
}

#preloader_1 span {
  display: block;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: rgb(255, 255, 255);
  position: absolute;
  animation: preloader_1 1.5s infinite ease-in-out;
  -moz-animation: preloader_1 1.5s infinite ease-in-out;
  -webkit-animation: preloader_1 1.5s infinite ease-in-out;
  -o-animation: preloader_1 1.5s infinite ease-in-out;
  -ms-animation: preloader_1 1.5s infinite ease-in-out;
}

#preloader_1 span:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
}

#preloader_1 span:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
}

#preloader_1 span:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
}

#preloader_1 span:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
}

@keyframes preloader_1 {
  0% {
    height: 5px;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    background: #6e4117;
  }

  25% {
    height: 30px;
    transform: translateY(15px);
    -moz-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -o-transform: translateY(15px);
    -ms-transform: translateY(15px);
    background: #6e4117;
  }

  50% {
    height: 5px;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    background: #6e4117;
  }

  100% {
    height: 5px;
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    background: #6e4117;
  }
}

/* FOOTER css */
footer {
  margin-top: auto;
  background-color:#ffcce5;
  color: #000;
  padding: 20px 20px;
  text-align: center;
  font-family: var(--ff--heading);
}

footer p {
  margin: 0;
  font-weight: 800;
  font-size: 1.5rem;
}

@media (max-width:767px) {
  .note-list {
    justify-content: center;
  }

  .App .home-container {
    flex-direction: column !important;
    align-items: center;
  }

  .App .add-note {
    align-self: center;
  }

  .App .logout-btn {
    right: 9px;
    top: 57px;
  }
}